.form-element {
  @apply w-full relative;
}

.form-element-div {
  @apply relative flex items-center;
}

.input-field-div {
  @apply w-full py-3 px-4 bg-white text-[#002147] text-sm border border-gray-200 rounded-none focus:outline-none focus:border-[#002147] placeholder:text-gray-400 transition-colors;
}

.button-div {
  @apply absolute right-0 top-1/2 -translate-y-1/2 px-4 py-3 text-[#002147] hover:text-[#c5a059] transition-colors bg-transparent border-none;
}

.form-element-align {
  @apply hidden;
}
